.pdp .actions, .pdp .divider, .pdp .price {
    margin-bottom: 20px;
}
.pdp .quantity.menu > .item {
    padding-top: 0.95em;
    padding-bottom: 0.95em;
}
.pdp .quantity.menu button.icon {
    border: none;
}
.pdp .quantity.menu input.item {
    padding-left: 4px;
    padding-right: 4px;
    border: none;
    width: 50px;
    text-align: center;
    border-left: 1px solid rgba(34,36,38,.1);
    border-right: 1px solid rgba(34,36,38,.1);
}
/* hide up and down arrows on input field */
/* Chrome, Safari, Edge, Opera */
.pdp .quantity.menu input.item::-webkit-outer-spin-button,
.pdp .quantity.menu input.item::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.pdp .quantity.menu input.item[type=number] {
  -moz-appearance: textfield;
}

.pdp .quantity.ui.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: transparent;
}
.pdp .price {
    color: #FF0000;
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1em;
}
.pdp .description {
    font-size: 1.2em;
    clear: both;
}
.pdp .divider {
    border: none;
    border-top: 1px solid rgba(34,36,38,.15);
}